[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
ipywidgets = "*"

[packages]
jupyterlab = "*"
numpy = "*"
torch = "*"
torchtext = "*"
tqdm = "*"
ipywidgets = "*"
cupy = "*"
pynvrtc = "*"
pytorch-qrnn = {git = "https://github.com/salesforce/pytorch-qrnn"}
pytorch-language-models = {editable = true,path = "."}
fire = "*"
fastai = "*"

[requires]
python_version = "3.6"
